<div style= "background-color: #aac7f3;"><br></div>
<p style="text-align:center;"><%= link_to image_tag("barkinglot.jpg", class: "img-responsive center-block") %> </p>
<div style= "background-color: #aac7f3;"><br></div>
<p style="text-align:center;"><%= link_to image_tag("Group shot.jpg", class: "img-responsive center-block") %> </p>
<div style= "background-color: #aac7f3;"><br></div>

<h1 style="text-align:center;">So, you think you are ready for a dog?</h1>


<h3 style="text-align:center;">This page is going to help you with this big decision.</h3>

<h3 style="text-align:center;">If you don't think this is a big decision, then you really are at the right spot.</h3>

<h5 style="text-align:center;">Different breeds require different lifestyles. Some people don't really do the research first and can end up with buyer's regret when that cute little puppy turns into a great big dog that needs to be brushed two or three times a week.
Some dogs have to be taken to the groomer every month.</h5> <h5 style="text-align:center;">The endless unconditional love that you get from a dog does have some costs. we are not in any way trying to dissuade you from getting a dog. We just want to make sure that you select a dog that fits into your lifestyle.  </h5>
<br>
<br>

<div style= "background-color: #aac7f3;"><br></div>

<h1 style="text-align:center;"> Here are some links to sites so you can learn about dog breeds and fitting them into your lifestyle.</h1> 


<ul>
  <li style="text-align:center;"><a href= "https://www.akc.org/dog-breeds/" target="_blank"> Information about dog breeds!</a> </li>
  <li style="text-align:center;"><a href= "https://www.akc.org/expert-advice/lifestyle/what-dog-is-right-for-me/" target="_blank"> What Dog is right for you?</a> </li>
  <li style="text-align:center;"><a href= "https://www.akc.org/expert-advice/lifestyle/answer-5-questions-find-right-dog/" target="_blank"> 5 Questions to answer to help choose a dog.</a> </li>
  <li style="text-align:center;"><a href= "https://www.akc.org/dog-breeds/" target="_blank"> Click here for information about dog breeds!</a> </li>
</ul>

<div style= "background-color: #aac7f3;"><br></div>

<h1 style="text-align:center;">Now that you have a better idea of what type of dog you want,</h1>
<h1 style="text-align:center;">here are some sites on caring for you new friend!</h1>

<ul>
  <li style="text-align:center;"><a href= "https://www.akc.org/expert-advice/training/8-tips-to-help-your-new-puppy-adjust-to-new-home/" target="_blank"> Adjusting a new puppy to your home!</a> </li>
  <li style="text-align:center;"><a href= "https://www.akc.org/expert-advice/home-living/how-to-help-an-adult-dog-adjust-to-a-new-home/" target="_blank"> Adjusting an adult dog to a new home!</a> </li>
  <li style="text-align:center;"><a href= "https://www.akc.org/expert-advice/puppy-information/introducing-puppies-to-senior-dogs/" target="_blank"> Introducing puppies to senior dogs in the home.</a> </li>
  <li style="text-align:center;"><a href= "https://www.akc.org/expert-advice/dog-breeding/bringing-up-puppy/" target="_blank"> Starting to train your puppy.</a> </li>
   <li style="text-align:center;"><a href= "https://www.akc.org/expert-advice/training/basic-training//" target="_blank"> Training your dog.</a> </li>
</ul>
<div style= "background-color: #aac7f3;"><br></div>

<p style="text-align:center;"><%= link_to image_tag("furever.jpg",  class: "img-responsive center-block") %><%= link_to image_tag("ASPCA.jpg",  class: "img-responsive center-block") %><%= link_to image_tag("mission.jpg",  class: "img-responsive center-block") %> </p>
<div style= "background-color: #aac7f3;"><br></div>